.container {
  color: pink;
}

.slide-index {
  color: black;
  padding-top: 64px;
  margin-left: 64px;
}

.slide-title {
  padding-top: 64px;
  margin-left: 64px;
  color: #0f161e;
}

.slide-content {
  margin-left: 64px;
  color: #0f161e80;
  font-size: 20px;
}

.slide-button-navigation {
  padding-top: 20%;
  margin-left: 10px;
}
